.page-style{
    background-color: rgb(70, 65, 57);
}
.from-style input{
    width: 40%;
}
.from-style textarea{
    width: 40%;
}
.submit-style{
    width: 20%;
}
.booking{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.order{
    margin-top: 100px;
    
}
.order form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.order form input,textarea{
   width: 80%; 
   border: 3px solid rgb(97, 96, 96);
   margin-bottom: 30px;
}


